node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# eslint files
.eslintcache

# other files
NOTES.md
cypress/videos/
app-store/

# Local Netlify folder
.netlify

# ide
.idea
